name: Publish Docker

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'docker tag'
        required: true
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Set tag
        id: set_tag
        run: |
          if [[ $GITHUB_EVENT_NAME  == "workflow_dispatch" ]]; then
            echo "VERSION=${{ github.event.inputs.tag }} " >> $GITHUB_ENV
          elif [[ $GITHUB_EVENT_NAME  == "release" ]]; then
            echo "VERSION=$GITHUB_REF_NAME" >> $GITHUB_ENV
          else
            exit 1
          fi
          echo ${{ env.VERSION }}
      - 
        name: Checkout
        uses: actions/checkout@v2
      -        
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - 
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Build and Push 
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
              ${{ github.repository }}:${{ env.VERSION }}
              ghcr.io/${{ github.repository }}:${{ env.VERSION }}
          build-args: |
            VERSION=${{ env.VERSION }}
